@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.outline-text {
  text-shadow: 
    -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.placeholder-produce::placeholder { color: lightcoral; }
.placeholder-dairy::placeholder { color: lightblue; }
.placeholder-bakery::placeholder { color: #9e4d4d; }
.placeholder-meat::placeholder { color: lightpink; }
.placeholder-frozenFoods::placeholder { color: lightsteelblue; }
.placeholder-cannedGoods::placeholder { color: lightseagreen; }
.placeholder-dryGoods::placeholder { color: rgb(78, 197, 197); }
.placeholder-beverages::placeholder { color: lightgray; }
.placeholder-snacks::placeholder { color: lightsalmon; }
.placeholder-household::placeholder { color: lightgreen; }
.placeholder-other::placeholder { color: lightgrey; }
